<app-nav-bar-admin></app-nav-bar-admin>

<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Gestión de Salones </h1>
</div>

<br><br>

<!-- Modal para ingresar equipo -->
<div class="container">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ingresar nuevo salón</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <form #salonForm = "ngForm" (ngSubmit)="onSubmit(equipoForm)">

        <div class="form-group">
          <label>Nombre</label>
          <input name="nombre"  #Nombre="ngModel" [(ngModel)]="salonn.nombre" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
        </div>

        <div class="form-group">
          <label>Capacidad de camas</label>
          <input name="capacidadcamas"  #CapacidadCamas="ngModel" [(ngModel)]="salonn.capacidadcamas" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
        </div>
        
        <div class="form-group">
            <label for="tipomedicina"> Tipo de medicina </label>
            <select name="tipomedicina"  #TipoMedicina="ngModel" [(ngModel)]="salonn.tipomedicina" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
              <option value="">Seleccionar</option>
                <option value="Niños">Niños</option>
                <option value="Mujeres">Mujeres</option>
                <option value="Hombres">Hombres</option>
            </select>
          </div>

        <div class="form-group">
            <label>Piso</label>
            <input name="piso"  #Piso="ngModel" [(ngModel)]="salonn.piso" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
          </div>
        
        <div class = "form-group">
          <div class = "col-md-4 col-md-offset-3">
            <input class = "btn btn-primary" type = "submit" value = "Agregar" />
          </div>
        </div>
      
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Ingresar</button>


  <pre>{{ closeResult }}</pre>

</div>

<!-- Modal para actualizar equipo -->
<div class="container">
  <ng-template #content1 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Actualizar salón</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <form #updateForm = "ngForm" (ngSubmit)="onUpdate(updateForm)">

        <div class="form-group">
            <label>Número</label>
            <input name="numero"  #Numero="ngModel" [(ngModel)]="salonU.numero" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
          </div>
  
          <div class="form-group">
            <label>Nombre</label>
            <input name="nombre"  #Nombre="ngModel" [(ngModel)]="salonU.nombre" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
          </div>
  
          <div class="form-group">
            <label>Capacidad de camas</label>
            <input name="capacidadcamas"  #CapacidadCamas="ngModel" [(ngModel)]="salonU.capacidadcamas" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
          </div>
          
          <div class="form-group">
              <label for="tipomedicina"> Tipo de medicina </label>
              <select name="tipomedicina"  #TipoMedicina="ngModel" [(ngModel)]="salonU.tipomedicina" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
                <option value="">Seleccionar</option>
                  <option value="Niños">Niños</option>
                  <option value="Mujeres">Mujeres</option>
                  <option value="Hombres">Hombres</option>
              </select>
            </div>
  
          <div class="form-group">
              <label>Piso</label>
              <input name="piso"  #Piso="ngModel" [(ngModel)]="salonU.piso" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
            </div>

        
        <div class = "form-group">
          <div class = "col-md-4 col-md-offset-3">
            <input class = "btn btn-primary" type = "submit" value = "Actualizar" />
          </div>
        </div>
      
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
    </div>
  </ng-template>

  <button class="btn btn-lg btn-outline-primary" (click)="open(content1)">Actualizar</button>


  <pre>{{ closeResult }}</pre>

</div>



<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th>Número</th>
      <th>Nombre</th>
      <th>Capacidad camas</th>
      <th>Tipo medicina</th>
      <th>Piso</th>
    </tr>

    <tr *ngFor="let Salon of service.salonList" >
      <td>{{Salon.numerosalon}}</td>
      <td>{{Salon.nombre}}</td>
      <td>{{Salon.cantidadcama}}</td>
      <td>{{Salon.idtiposalon}}</td>
      <td>{{Salon.numeropiso}}</td>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target=" #updateForm" 
      (click)="selectId(Salon)">Ed</button>
      <td><button type="button" class="btn btn-danger" (click)="onDelete(Salon.numero)">
      X<span class="glyphicon glyphicon-trash" ></span></button></td>
    </tr>
  </table>
</div>

