<app-nav-bar-paciente></app-nav-bar-paciente>

<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Mi Historial Clínico </h1>
</div>

<div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th>Id</th>
        <th>Procedimiento</th>
        <th>Fecha del procedimiento</th>
        <th>Tratamiento</th>
      </tr>
  
   <!--
      <tr *ngFor="let Histoail of service.historialList" >
        <td>{{Cama.idhistorial}}</td>
        <td>{{Cama.procedimiento}}</td>
        <td>{{Cama.fecha}}</td>
        <td>{{Cama.tratamiento}}</td>
      </tr>
    </table>
  </div>
  -->