
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
      <div class="container d-flex">
        <div class="contact-info mr-auto">
          <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">hospitalTECnologico@ce.com</a>
          <i class="icofont-phone"></i> +506 5353 5353
          <i class="icofont-google-map"></i> Calle 15, Avenida 14, 1 km Sur de la Basílica de los Ángeles, Provincia de Cartago, Costa Rica
        </div>
        <div class="social-links">
          <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
          <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
          <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
          <a href="#" class="skype"><i class="icofont-skype"></i></a>
        </div>
      </div>
    </div>

    <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Hospital TECnológico</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
            <li class="nav-item">
                <a class="nav-link" routerLink="/HospitalTECnologico/Doctor/Inicio">Inicio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/HospitalTECnologico/Doctor/AgregarPaciente">Agregar Paciente</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/HospitalTECnologico/Doctor/Historial">Historial</a>
            </li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->