<app-nav-bar-doctor></app-nav-bar-doctor>

<br><br><br><br><br><br>

<div class="container">
  <h1 style="color:#54CA8F">Agregar Paciente: </h1>
</div>

  
<div class="container">
    
    <div class="starter-template">

      <div class="row">       

        <div class="col-md-12 mt-5">

    
          <form #pacienteForm = "ngForm" (ngSubmit)="onSubmit(pacienteForm)">

            <div class="form-group">
                <label>Nombre</label>
                <input name="nombre"  #Nombre="ngModel" [(ngModel)]="pacientee.nombre" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>  

            <div class="form-group">
                <label>Primer Apellido</label>
                <input name="primerapellido"  #Primerapellido="ngModel" [(ngModel)]="pacientee.primerapellido" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>

              <div class="form-group">
                <label>Segundo Apellido</label>
                <input name="segundoapellido"  #Segundoapellido="ngModel" [(ngModel)]="pacientee.segundoapellido" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Cédula</label>
                <input name="cedula"  #Cedula="ngModel" [(ngModel)]="pacientee.cedula" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Teléfono</label>
                <input name="telefono"  #Telefono="ngModel" [(ngModel)]="pacientee.telefono" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
            </div>

            <!-- Arreglar direcciones -->
            <div class="form-group">
                <label>Dirección</label>
                <input name="iddireccion"  #Direccion="ngModel" [(ngModel)]="pacientee.iddireccion" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Fecha de nacimiento</label>
                <input name="fechanacimiento"  #Fechanacimiento="ngModel" [(ngModel)]="pacientee.fechanacimiento" [ngModelOptions]="{standalone: true}" type= "date" class="form-control" required>
            </div>


            <div class="form-group">
                <label>Contraseña</label>
                <input name="contrasena"  #Contraseña="ngModel" [(ngModel)]="pacientee.contrasena" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
            </div>

            <div class = "form-group">
                <div class = "col-md-4 col-md-offset-3">
                    <input class = "btn btn-primary" type = "submit" value = "Agregar" />
                </div>
            </div>
                

        </form>

    </div>


  </div>

</div>

</div>


<!-- Modal para agrgar patologias a un paciente -->
<div class="container">
<ng-template #content1 let-modal>
<div class="modal-header">
<h4 class="modal-title" id="modal-basic-title">Agregar Patologías </h4>
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">

<form #patologiaForm = "ngForm" (ngSubmit)="onInsertPat(updateForm)">

    <div class="form-group">
        <label>IdPaciente</label>
        <input name="idpaciente"  #IdPaciente="ngModel" [(ngModel)]="patologiaa.idpaciente" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
    </div>

    <div class="form-group">
        <label>IdPatologia</label>
        <input name="idpatologia"  #IdPatologia="ngModel" [(ngModel)]="patologiaa.idpatologia" [ngModelOptions]="{standalone: true}" type= "number" class="form-control" required>
    </div>

    <div class="form-group">
        <label>Tratamiento</label>
        <input name="tratamiento"  #Tratamiento="ngModel" [(ngModel)]="patologiaa.tratamiento" [ngModelOptions]="{standalone: true}" type= "text" class="form-control" required>
    </div>

    
    <div class = "form-group">
        <div class = "col-md-4 col-md-offset-3">
            <input class = "btn btn-primary" type = "submit" value = "Agregar" />
        </div>
    </div>

</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Salir</button>
</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content1)">Agregar Patologías</button>


<pre>{{ closeResult }}</pre>

</div>
